<div class="hero">
    <div class="container">
        <div class="main-heading">
            <h1 class="title">Welcome to Ivanti Marketplace</h1>
            <h2 class="subtitle">
                Explore Marketplace and make the most of your investment in Ivanti solutions.

                Choose from Ivanti integrations or apps to extend out-of-the-box capabilities. Find partner solutions
                tailored to solve your critical business needs. Use sample content to get you up and running faster, or
                as a starting point from which you customize to your needs. Tap into trusted third-party connectors that
                simplify your integration requirements.

                Deploy new solutions that solve your business challenges faster with Ivanti.</h2>
        </div>
        <a href="#" class="btn-see-more">See more
            <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
        </a>
    </div>
</div>