<div class="package-page-info">
    <div class="single-package-card">
        <div class="image-download">
            <img src="../../assets/images/package_img.png" alt="Package image">
            <button class="download-button">Download</button>
        </div>
        <div class="package-details">
            <div class="package-name">
                <h1>Package name</h1>
            </div>
            <div class="package-subtitle">
                <h2>Subtitle</h2>
            </div>
            <div class="package-description">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                    est laborum.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                    est laborum.

                </p>
            </div>
        </div>
    </div>
    <div class="buttons-details">
        <button type="button" class="btn-menus" (click)="showOverview()">Overview</button>
        <button type="button" class="btn-menus" (click)="showReviews()">Reviews</button>
        <button type="button" class="btn-menus" (click)="showSystemRequirements()">System requirements</button>
        <button type="button" class="btn-menus" (click)="showRelated()">Related</button>
    </div>
    <div class="menu-info">
        <h1 class="package-info-title" id="package-info-title">Overview</h1>
        <p class="package-info-description" id="package-info-description">Overview: Lorem ipsum dolor sit amet,
            consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat
            nullapariatur.Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim
            idest laborum.</p>
    </div>
</div>