.package-page-info
{
	margin-top: 50px;
}

.image-download img{
	width: 350px;
	height: 250px;
	align-items: center;
}

.image-download
{
	display: flex;
	flex-direction: column;
	margin: 18px 20px;
}

.download-button
{
	width: fit-content;
	margin: auto;
	margin-top: 20px;
	padding: 10px 50px;
    background: linear-gradient(90deg, rgba(226,18,37,1) 19%, rgba(76,4,139,1) 52%);
	color: #fff;
	border: none;
	border-radius: 6px;
}

.download-button:hover
{
    background: linear-gradient(90deg, rgba(76,4,139,1) 24%, rgba(226,18,37,1) 58%);
}

.single-package-card
{
    background-color: #E8E1D9;
}

.single-package-card
{
	display: flex;
	flex-direction: row;
}

.package-details
{
	margin: 18px 20px;
}

.package-name h1
{
	font-size: 30px;
}

.package-subtitle h2
{
	font-size: 20px;
}

.package-description
{
	font-size: 17px;
}

.buttons-details
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 50px;
}

.btn-menus
{
  font-size: 20px;
  background-color: #3E065F;
  border-color: #fff;
  color: #fff;
  padding: 2px 30px;
}

.btn-menus:hover
{
	background-color: #700B97;
}

.menu-info
{
	margin: 18px 20px;
}

.menu-info h1
{
	font-weight: 500;
}

.menu-info p 
{
	font-size: 17px;
}

