.navbar {
    justify-content: space-between;
}

.routes {
    padding-right: 2rem;
}

.hamburger {
    position: relative;
    z-index: 100;
    top: 0.01rem;
    right: 1rem;
    padding: 4px;
    /* border: white solid 2px; */
    border: none;
    background: transparent;
    cursor: pointer;
    display: none;
}

a {
    padding: 1rem;
    color: white;
    text-decoration: none;
    position: relative;
    transition: 0.5s;
  }

a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: white;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

mat-toolbar {
    padding: 1% 1%;
    margin: 1% 1%;
    background-color: red;
    font-size: 120%;
    width: 98%;
    border-radius: 10px;
}

.logo {
    width: 20%;
    padding-left: 2rem;
}

@media screen and (max-width:1125px) {
    .routes {
        display: none;
    }

    .hamburger {
        display: block;
    }
}

@media screen and (max-width:720px) {
    .logo {
        min-width: 6.5rem;
        padding-left: 0.5rem;
    }
}