<div class="contactUsSection">
    <div class="contactUsMainContent">

        <div class="leftRow">
            <div class="contactUsTitle">
                <h2>Contact Us</h2>
            </div>
            <div class="contactUsText">
                <p>Request a demo, learn more about our solutions or just say hello. Request a demo, learn more about
                    our solutions or just say hello.</p>
            </div>

        </div>

        <div class="rightRow">
            <div class="contactUsButtons">
                <button class="buttonOutline" type="button" name="button">Contact Us</button>
                <button class="buttonFull" type="button" name="button">Browse</button>

            </div>
        </div>

    </div>
</div>