<section class="cardSectionContainer">
    <div class="cardContainer">
        <div class="imageCardContainer">
            <img src='../../assets/images/ivanti2.png' alt="Card 1">
        </div>
        <div class="contentCardContainer">
            <div class="contentCardTitle">
                <h3>Card title 1</h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="contentCardButton">
                <button type="button" class="view-more">View More</button>
            </div>
        </div>
    </div>

    <div class="cardContainer">
        <div class="imageCardContainer">
            <img src='../../assets/images/ivanti2.png' alt="Card 2">
        </div>
        <div class="contentCardContainer">
            <div class="contentCardTitle">
                <h3>Card title 2</h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="contentCardButton">
                <button type="button" class="view-more">View More</button>
            </div>
        </div>
    </div>

    <div class="cardContainer">
        <div class="imageCardContainer">
            <img src='../../assets/images/ivanti2.png' alt="Card 3">
        </div>
        <div class="contentCardContainer">
            <div class="contentCardTitle">
                <h3>Card title 3</h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="contentCardButton">
                <button type="button" class="view-more">View More</button>
            </div>
        </div>
    </div>

</section>