<div class="packageContainer">

    <div class="leftRow">
        <div class="packageImage">
            <img src="../../assets/images/package_img.png" alt="">
        </div>
        <div class="packageButton">
            <a routerLink="package-details">
                <button type="button" name="button">View More</button>
            </a>
        </div>

    </div>

    <div class="rightRow">
        <div class="packageTitle">
            <h4>Package title</h4>
        </div>
        <div class="packageDescription">
            <p>Package description lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
        </div>

    </div>

</div>