<div class="store-hero">
    <div class="store-intro-container">
        <div class="store-main-heading">
            <h1 class="store-title">EXPLORE OUR PACKAGES!</h1>
            <h2 class="store-subtitle">
                Explore Marketplace and choose the packages that are right for you.
            </h2>
        </div>
    </div>

    <div class="intro-top-packages">
        <mat-card class="top-package">
            <img src="../../../assets/images/ivanti.jpg">
            <mat-card-title>Top package 1</mat-card-title>
            <mat-card-content>Description of the package goes here...</mat-card-content>
            <a mat-raised-button href="" target="_blank">View More</a>
        </mat-card>
        <mat-card class="top-package">
            <img src="../../../assets/images/ivanti.jpg">
            <mat-card-title>Top package 1</mat-card-title>
            <mat-card-content>Description of the package goes here...</mat-card-content>
            <a mat-raised-button href="" target="_blank">View More</a>
        </mat-card>
        <mat-card class="top-package">
            <img src="../../../assets/images/ivanti.jpg">
            <mat-card-title>Top package 1</mat-card-title>
            <mat-card-content>Description of the package goes here...</mat-card-content>
            <a mat-raised-button href="" target="_blank">View More</a>
        </mat-card>
    </div>

</div>